html {
  color: $base-text-color;
  line-height: 1.65;
  font-size: .85em;
}

body {
  background: $light-brand-color;
  font-family: $font-serif;
}

b,
strong {

}

em {

}

p {
  font-size: 1.25em;
  margin: 1.5em 0;
}

hr {

}
