// Colors -------------------------------------------------- */

$profile: 		    #bd1f2f;

$darkgray:        #222;
$midgray: 				#8A8A8A;
$lightgray:       #d9d9d9;

// Fonts -------------------------------------------------- */

$font-sans: 			'Helvetica Neue', sans-serif;
