.button-holder {
  text-align: center;
  margin: 1em auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: #fff !important;
  margin: .8em 0 0;
  padding: .8em 1.6em;
  text-transform: uppercase;
  border-radius: .25em;
  letter-spacing: .02em;
  transition: all .1s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
