label {
  cursor: pointer;
  display: block;
}

input,
textarea {
  -webkit-appearance: none;
  width: 100%;
  padding: .8em .7em .7em;
  border-radius: 0;
  border: 1px solid $midgray;
  font-size: 1em;
  transition: all .2s ease-in-out;
}

input[type="search"] {
  box-sizing: border-box !important;
  -webkit-appearance: none !important;
}

textarea {
  resize: vertical;
  min-height: 10em;
}
